{% extends "base.html" %}

{% load static %}

{% block title %}
  {{ post.title }} - Eijgenraam.net
{% endblock title %}
{% block content %}
  <section id="welcome">
    <header>
      <div>
        <h1>{{ post.title }}</h1>
        <div class="author">
          <address>{{ post.author }}</address>
        </div>
        <div class="author">
          <time>{{ post.date|date:'d M Y' }}</time>
        </div>
      </div>
    </header>
  </section>
  <main>
    <p>{{ post.content|safe }}</p>
    <!-- safe is for suppressing html tags in text -->
  </main>
  <section id="comment-form">
    <h3>Geef een reactie:</h3>
    <form action="{% url 'post-page' post.slug %}" method="post">
      {% csrf_token %}
      {% for form_field in comment_form %}
        <div class="form-control">
          {{ form_field.label_tag }}
          {{ form_field }}
          {{ form_field.errors }}
        </div>
      {% endfor %}
      <button type="submit">Verzend reactie</button>
    </form>
  </section>
  {% for comment in all_comments %}
    <section id="comment-form">
      <div class="comment">
        <div>{{ comment.username }}, {{ comment.date }}</div>
        <div>{{ comment.text }}</div>
      </div>
    </section>
  {% empty %}
    Geen reacties gevonden.
  {% endfor %}
{% endblock content %}
