{% extends "base.html" %}

{% load static %}

{% block content %}
  <h1>Welkom op de website van de familie Eijgenraam</h1>
  <div>
    <p>
      Welkom op de officiële website van de genealogie van de familie Eijgenraam.
      Hier vindt u een schat aan informatie over de geschiedenis, stamboom en verhalen van onze familie,
      die generaties teruggaat en zich over diverse regio's uitstrekt.
      Of u nu een directe afstammeling bent, geïnteresseerd bent in familiegeschiedenis,
      of gewoon nieuwsgierig naar uw eigen erfgoed, deze site biedt een uitgebreide en gedetailleerde blik op onze gezamenlijke roots.
      Ontdek de reis van de familie Eijgenraam door de tijd, met zorgvuldig verzamelde documenten,
      foto's, en persoonlijke verhalen die de unieke identiteit van onze voorouders tot leven brengen.
    </p>
  </div>
  <div>
    <p>
      Voor meer informatie over de stamboom bezoekt u onze <a href="https://gw.geneanet.org/arie7214_f?lang=nl&n=eijgenraam&oc=0&p=ivo+jan&type=tree">geneanet</a> pagina. Om de stamboom te kunnen bekijken dient u toestemming te vragen aan een van de beheerders.
    </p>
  </div>
  <section id="all-posts">
    <ul>
      {% for post in featured_posts %}
        {% include 'pages/articles/includes/post.html' %}
      {% endfor %}
    </ul>
  </section>
{% endblock content %}
