#category {
  text-align: right;
  }

  #gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
  }

  #gallery {
    margin: 3rem auto;
    width: 90%;
    max-width: 90rem;
  }

  .picture {
    flex: 1; /* Grow to fill available space evenly */
    max-width: 30%; /* Limit item width to avoid overcrowding */
    margin: 0.5rem; /* Add spacing between items */
    border: 0px solid #ccc; /* Add a border for visual separation */
    padding: 1rem;
    text-align: center;
  }

  .picture-gallery {
    display: flex;
    flex-wrap: wrap; /* Space items evenly along the main axis */
    list-style: none; /* Remove list styles */
    padding: 0;
  }

  .picture img {
    width: 12.5rem;
    border-radius: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .picture img:hover {
    transform: scale(1.1);
  }
