#welcome {
  margin: 4rem auto;
}
  #welcome img {
    width: 18rem;
    height: 18rem;
    border-radius: 12px;
    border: 5px solid white;
  }

  .author {
    align-items: flex-start;
    margin: 0 0 0 1rem;
  }

  main {
    width: 90%;
    max-width: 90rem;
    margin: 2rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
  }

  #comment-form {
    margin: 1rem auto;
    width: 95%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: #ffffff;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);*/
    padding: 1rem;
  }

  #comment-form button {
    font: inherit;
    background-color: #005237;
    color: white;
    border: 1px solid #005237;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
  }

  #comment-form button:hover,
  #comment-form button:active {
    background-color: #0b885e;
    border-color: #0b885e;
  }

  .form-control {
    margin-bottom: 1rem;
  }

  .form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }

  .form-control input,
  .form-control textarea {
    display: block;
    width: 100%;
    font: inherit;

  }
