  #all-posts {
    margin: 3rem auto;
    width: 90%;
    max-width: 60rem;
  }

  #all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: #2e2e2e;
    margin: 3rem 0;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
    /*gap: 1.5rem;*/
  }

  .post img {
    width: 12rem;
    height: 12rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    margin: 1rem;
  }

  .post a {
    height: 25rem;
    transform-origin: center;
    /*box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    background-color: #e7e7e7;*/
  }
